body {
    margin:0;
    padding:0;font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(242, 178, 229);
}

img{
    width: 50px;
}

header{
    width: 100%;
    height: 60px;
    /* background-color: rgb(65, 206, 145); */
}

/*  justify - nos ordena las listas */
header nav {
    display:flex;
    justify-content: flex-end;


}

header nav .orden{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: auto;
}

a{
    /* /quita linea de abajo/ */
    text-decoration: none;
    /*cambia el cursor a un pointer */
    cursor: pointer;
}

nav .orden a{
    margin-right: 25px;
    color: #000000DE;
}


nav .orden .menu{
    background-image: url("https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png");
    width: 20px;
    height: 20px;
}

nav .orden img{
    border-radius: 60px;
    margin-left: 20px;
    width: 35px;
    height: 35px;
}

main{
    /*Agrega margen arriba */
    margin-top: 150px;
    /*Centran todo horizontalmente */
    text-align: center;
}

main .main-logo{
    width: 530px;
    /*Centra el elemento horizontalmente dentro de su contenedor, el 0 dice que no hay espacio entre este elemento y los que están arriba o abajo */
    margin: 0 auto;
    margin-bottom: 35px;
}


main .main-logo img{
    width: 330px;
    height: 120px;

}

main .main-input{
    width: 600px;
    margin: auto;
    margin-bottom: 10px;
    
}

main .main-input-container{
    width: 580px;
    height: auto;
    border: 1px solid #91d8a7de;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input{
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

main .main-input-container:hover{
    box-shadow:0 1px 6px 0px #696a65de;
    border-color: #69756dde;

}

main .main-input .search-icon{
    background-image: url("https://seekicon.com/free-icon-download/search_20.svg");
    background-repeat: no-repeat; /* evitar repeticiones  */
    background-position: center;
    background-size: contain;
    height: 14px;
    width: 14px;
    padding: 1%;
}

main .main-input .micro-icon{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png");
    width: 18px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

main .main-input .cam-icon{
    background-image: url("https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg");
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 7%;
}

main .main-buttons div{
    display: inline-block;
}

main .main-buttons button{
    border: none ;
    height: 36px;
    background-color: #ffffffde;
    font-size: 14px;
    color: #1a1b19de;
    border-radius: 4px;
    padding: 0 15px;
    border: 1px solid #696a65de;
    margin-right: 10px;

}

main .main-buttons button:hover{
    box-shadow: 0 1px 3px rgb(180, 122, 173);
    border: 1px solid #dadce0;
    color:#5c5e55de;
    cursor: pointer;
}


footer{
    background-color: #97e2b0de;
    width: 100%;
    height: 50px;
    position: absolute;
    font-size: 13px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-top: 1px solid #e4e4e4;
    bottom: 0%;
}

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0px;

}

footer ul li a{
    color: #70757a;
    margin: 10px;
}

footer .footer-left{
    justify-self: left;
}

footer .footer-right{
    justify-self: right;
}
